<nav class="navbar navbar-light" style="background-color: rgba(92, 136, 247, 0.4);">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="./img/notes.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Note
        </div>
        <div style="margin-right: 20px; display: flex">

            <form action="/add/note" method="get">
                <button type="submit" class="btn btn-primary" style="margin: 0px 5px">Добавить заметку</button>
            </form>


            <form action="/logout" method="get">
                <button type="submit" class="btn btn-primary"  style="margin: 0px 5px">Выйти</button>
            </form>

        </div>
    </div>
</nav>
